.capistrano
.byebug_history
.bundle
*/.vagrant
node_modules
coverage
public/packs
public/packs-test
misc/macos_agent
misc/prestage_installer
misc/bootnotify
tmp
log/**
.git
.gitmodules
/config/master.key
/config/credentials/*.key

